torch
matplotlib
odfpy
numpy
pdf2image
opencv-python-headless
python-decouple
django 
djangorestframework 
psycopg2-binary 
djangorestframework-simplejwt
django-cors-headers
cryptography
scipy
celery
redis
flower